﻿@Code
    ViewData("Title") = "About"
End Code

<h2>@ViewData("Title").</h2>
<h3>@ViewData("Message")</h3>

<p>Use this area to provide additional information123, I have created another Branch!, form command prompt, to run CI/CD</p>
